.col-lg-3{
text-align:center;
}
img.card-img-top.img-fluid {
    height: 60%;
}
.corpcomponent{
margin-top:2% auto;
}
.search{

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-right:5%;
    margin-top:1%;
}
.nav{
width:15%;
margin:auto;}
.container{
margin-bottom:5%;}

.bouton-panier{
background: #ff9d00;
 color: #fff;
 border: none;
 cursor: pointer;
 width:80%;
 height:50px;
 border-radius:5px;
}

.formRow-input{
border:0;
border-bottom:1px solid #ccc;
}











